<div>
  Name :<%= userapp.user.first_name %>
</div>

<div>
  Status: <%= userapp.status %>
</div>

<div>
  Title : <%= userapp.job.jobtype.name %>
</div>

<div>
  Restaurant: <%= userapp.job.user.restaurant_name %>
</div>