<table class="table table-hover table-condensed">
  <tr>
    <td>
      Name: <%= userapp.user.first_name %>
    </td>

    <td>
      Status: <%= userapp.status %>
    </td>

    <td>
      Title: <%= userapp.job.jobtype.name %>
    </td>

    <td>
      Restaurant: <%= userapp.job.user.restaurant_name %>
    </td>
  </tr>
</table>