<div class="container">
  <% if current_user.usertype_id == 1 %>
    <% if @userapps == nil %>
      <h2> No new applicants </h2>
      <a href="/jobs"> Return to jobs</a>
    <% else %>
      <%= render @filter %>
    <% end %>
    <% else %>
      <% if @userapps == nil %>
        <h2> No applications have been accepted yet </h2>
        <a href="/jobs"> Look for more </a>
      <% else %>
        <%= render @filter %>
      <% end %>
  <% end %>
</div>