<!-- This view needs to be styled still -->
<section>

  <header>
    <h1>Jobs</h1>
  </header>

  <div class="jobs">
    <%= render @jobs %>
    <div class="well">
    <%= link_to '+ New Job', [:new, :job], class: 'btn btn-info' %>
    </div>

  </div>
</section>