<body class="homepage-bg">
  <div class="container">
    <div class="text-center">
      <h2 class="display-5 main-message">Welcome to Cover</h2>
    </div>
    <br>
    <div class="text-center start-button">
    <a href="" class="btn btn-primary" role="button" data-toggle="modal" data-target="#myModal"><strong> New here? Let's get started!</strong> </a>
  </div>
</body>