@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('../images');

// App
@import "navbar";
@import "home";
@import "jobs";
@import "signup";
$oswald: 'Oswald', sans-serif;
// Global
body {
  padding-top: 70px;
  margin: 0;
  .main-message{
    font-family: $oswald;
    font-size: 4em;
    color: #eee;
  }

}

.homepage-bg {
  background: url('home2.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-bg {
  background: url('login.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.signup-bg {
  background: url('signup.jpeg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

